<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="notelist" >
  <h1>Angular Seed App Lol</h1>
  <!-- <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul> -->

  <textarea ng-model="textArea"></textarea>
  <ul id="notes" >
  	<li ng-repeat="note in notes" ng-click="clicked(contact)">
  		{{note.text}}
  	</li>
  </ul>


  <div ng-view></div>


  <!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->
  <script src='js/lib/kinvey.js'></script>
  <script src="js/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>

  <script src="js/main.js"></script>
</body>
</html>

